body {
    margin: 0;
    padding: 0;
}

/*Navbar*/

nav {
    background-color: #0757a1ce;
    padding: 20px;
    margin: 0%;
}

/*Calculadora*/

.form-calculadora{
    margin-top: 20px;
    margin-left: 200px;
    width: 500px; 
    height: 300px;  
    border-radius: 8px/7px; 
    background-color: #ebebeb; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
}

.form-calculadora h2{
    text-align: center;
}

.tipo-de-usuario{
    margin-left: 90px;
}

input[type=radio] {
    visibility: hidden;
}


form{ 
    margin: 10px;
}

label.radio {
    cursor: pointer;
    text-indent: 30px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 1px;
}

label.radio:before {
    background: #055cad;
    content:'';
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
    opacity: 1;
}

hr{
    color: #a9a9a9;
    opacity: 0.3;
}

/*Footer*/




