* {
    font-family: cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(https://previews.123rf.com/images/jirsak/jirsak1707/jirsak170700007/82255755-ciberseguridad-y-el-concepto-de-servicios-de-seguridad-de-tecnolog%C3%ADa-de-la-informaci%C3%B3n-login-o-regis.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    background-color: rgba(200, 200, 200, 0.2);
    border-radius:25px;
    padding: 50px;
    text-align: center;
}

.form-container .item-form{
    padding: 10px;
}

input{
    border-radius: 5px;
}

button{
    border-radius: 5px;
    padding: 5px;
}